.list-admins {
    padding: 20px;
  }
  
  .list-admins h2 {
    margin-bottom: 20px;
  }
  
  .list-admins ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-admins li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
  }
  